<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Correo Electrónico</title>
</head>
<body style="font-family: system-ui;">
    <div style="margin: 0 auto; width: fit-content;">
        <h1 style="color: #BA9110;">OnlineShop</h1>
        <%- content %>
    </div>
</body>
</html>